* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eeeef5;
    color: #212121;
    line-height: 1.5;
    margin: 0;
}

a {
    text-decoration: none;
}

.search-form {
    background-color: #6a5acd;
    z-index: 9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 4px #144d98;
}

.search-form input {
  position: absolute;
  width: 300px;
  height: 40px;
  padding: 10px 11px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  outline: none;
}

.search-form button {
  position: relative;
  left: 130px;
  height: 35px;
  width: 40px;
  border-radius: 0 3px 3px 0;
  border-color: transparent;
  background-color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  outline: none;
}

.is-hidden {
    display: none;
}

.load-more {
    width: 110px;
    height: 30px;
    border-radius: 15px;
    border-color: #6a5acd;
    color: white;
    background-color: #6a5acd;
}

.button-box {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
       
}

.info {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.info-item {
    display: flex;
    color: black;
}

.info-item__value {
    color: grey;
}

.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gallery__image {
    margin: 10px;
display: block;
object-fit: cover;
height: 260px;
}
.info {
margin: 5px;
width: 345px;
    
}
